body {
    background-color:#EEEEEE
}


.header {
   color:#EEEEEE;
   background-color:#59ABE3;
   margin-left:25%;
   width:50%;
   height:6em;
   border-radius:40px;
}

div.header h1 {
    text-align:center;
    padding-top:7px;
}

div.header h4 {
    text-align:center;
}


.results {
    width:800px;
    text-align:center;
    clear:none;
    padding-top:20px;
    border:5px solid #59ABE3;
    border-radius:10px;
    margin:0px auto;
}


body.about p {
     margin-left:10%;
     margin-right:10%;
}

body.about h1 {
    text-align:center;
}

.pleytmaths {
    text-align:center;
    clear:both;
    padding-top:25px;
    border:12px solid black;
    border-radius:25px;
    margin:0px auto;
}