body {
    background-color:#EEEEEE
}


.header {
   color:#EEEEEE;
   background-color:#59ABE3;
   margin-left:25%;
   width:50%;
   height:6em;
   border-radius:40px;
}

div.header h1 {
    text-align:center;
    padding-top:7px;
}

div.header h4 {
    text-align:center;
}

body.about p {
     margin-left:10%;
     margin-right:10%;
}

body.about h1 {
    text-align:center;
}
