title {
    text-align: center
}

body {
    background-color:#EEEEEE;
    font-family: 'Droid Sans', sans-serif;
}

h3 {
    text-align: center
}

h1 {
    text-align: center
}

.buttonsBar {
    float:left
    width:right/2
    height:75
    margin:100px
}

