{% extends "base.html" %}
{% block content %}
   <section class = 'Results'>
      <h4>Here are is what people think about {{ name }}</h4>
   </section>
   <div class = 'results'>
       <p>{{ twitterball.tweets }}</p>
       <p>Score of {{ twitterball.rankscore }} {{ twitterball.ranking }} for {{ name }}</p>

       {% if twitterball.ranktype == 1  %}
         <p>Score is based on sentiments towards {{ name }}.</p>
       {% else %}
         <p>Score is based on general sentiments discovered in tweets.</p>
       {% endif %}

    </div>
{% endblock %}

  </body>
</html>