<html>
  <head>
    {% if title %}
    <title>MouthFeel - {{Home}}</title>
    {% else %}
    <title>MouthFeel</title>
    {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
   <section class = 'header'>
      <h1>MouthFeel <a href="/index">Home</a><a href="/search">Search</a></h1>
      <h3>MouthFeel is a powerful tool for finding good food near you.</h3>
   </section>
   <hr>
   {% with messages = get_flashed_messages() %}
     {% if messages %}
       <ul>
       {% for message in messages %}
           <li>{{ message }}</li>
       {% endfor %}
       </ul>
     {% endif %}
   {% endwith %}
   {% block content %}{% endblock %}   
  </body>
</html>
