{% extends "base.html" %}
{% block content %} 
  <form id="search" action="{{ url_for('results') }}" method="post" name="search">
     {{ form.hidden_tag() }}
     <p style="text-align:center; padding-top:10px">
        Enter a location:<br>
        {{ form.location(size=80) }}<br>
     </p>
     <p style="text-align:center">
        Enter a search query:<br>
        {{ form.searchquery(size=80) }}<br>
     </p>

   <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-3'> 
      <input type="submit" class="btn btn-lg btn-primary" style="float:right;background-color:#59ABE3;color:#EEEEEEE">
    </div>

    <div class='col-md-3'> 
      <a href='/about'><button type="button" class="btn btn-lg btn-primary" style="background-color:#59ABE3;color:#EEEEEE;float:left">About</button></a>
    </div>
    <div class='col-md-3'></div>
   </div>
   <br/>
   <p style="text-align:center">
    {{ form.yp() }} Check to include Yellow Pages (Canada) results
   </p>
   <h3 style="text-align:center" >Pleyt is a powerful tool for finding good food near you.</h3><br/>

   {% if recent %}
   <div id = 'recent'>
     <h4 style = "text-align:center">Here is a list of some random results we have calculated:</h4>
         {% for twitterball in recent %}
         <div><p style = "text-align:center">{{twitterball.name }} in {{ twitterball.locname }} is rated {{"%.1f"|format(twitterball.pleytstars)}} stars based on people's tweets.</p>
         {% endfor %}
   {% endif %}
          <h4 style = "text-align:center">While most websites rely on customer-provided reviews to rank quality, PlaytRate relies on social media mining and sentiment analysis to find out what people are actually saying about restaurants.</h4>



{% endblock %}
