<html>
  <head>
    <title>MouthFeel - {{Home}}</title>
  </head>
  <body>
   <section class = 'header'>
      <h1>Welcome to MouthFeel!</h1>
      <h3>MouthFeel is a powerful tool for finding good food near you.</h3>
   </section>
   <section class = 'about'>
      <h4>While most websites rely on customer-provided reviews to rank quality, MouthFeel relies on sentiment analysis to find out what people are actually SAYING about restaurants.</h4>
      <p>Go ahead, give us a taste.</p>
   </section>
  </body>
</html>
